<p>Hi, %contact_full_name%!</p>
<p>Thank you for your stay with us!</p>
<p>We would like to inform you that you have an outstanding balance of</p>
<p>%outstandings%</p>
<p>We will be doing the check-out inspection and will be taking the power meter photo on %departure_date% at 11 AM check-out time. It's up to you if you want to be present during the check-out inspection or not. If you want to make sure that nothing is missing or damaged inside the unit, we advise you to do the inspection together with our staff. Please let us know if you want to be present during the check-out inspection.</p>
<p>The utilities will be calculated using a meter rate of ($/unit). We will then deduct it from your remaining electricity deposit / monthly utility credit which is %monthly_utility_credit%. If the check-out utility fee exceeds the allotted credit / your remaining electricity deposit, the exceeding amount the total of these outstanding balances will be deducted from your security deposit which is %security_deposit_amount%. We will also be deducting from the deposit any possible charge for any damaged or missing items in the unit.</p>
<p>Please take note that you will receive your deposit refund within 3 weeks after your check-out date. Please provide us your bank account details so that we can transfer your deposit refund to your account.</p>
<p>We will need the following:</p>
<ul style="list-style-type: none;">
    <li>Account Holder's Name</li>
    <li>Account Number</li>
    <li>Bank Name</li>
    <li>Bank Code</li>
    <li>SWIFT Code</li>
    <li>Bank Address (required if not an HK bank)</li>
</ul>
<p>Please take note that you are responsible for disposing any large items or furniture items that you bought yourself. Otherwise we will charge you to have someone dispose of them as it is dangerous for the cleaner to do it.</p>
<p>Please also don't forget to leave the gate access card and mailbox key (if we provided you one) on your desk before leaving the unit.&nbsp;</p>
<p>We will also be placing two large black garbage bags in your unit where you can put any small stuff that you don't want, for us to easily dump it.&nbsp;</p>
<p>On a side note, we are very interested in your opinion and really hope you can spare a moment of your time to use the form below to share your feedback and where possible will look to use it to improve our properties and guest experience.&nbsp;</p>
<p>Check-out Survey link: <a href="https://taneresidence.wufoo.com/forms/tane-residence-checkout-survey/">https://taneresidence.wufoo.com/forms/tane-residence-checkout-survey/</a></p>
<p>&nbsp;</p>
<p>Thank you.&nbsp;</p>
<p>We hope to see you again next time.&nbsp;</p>
<p>Best regards,</p>
<p>Tane Residence Management</p>