<h2><span>Dear %contact_full_name%,</span></h2>
<p><span>We are excited to have you stay with us at Tane Residence. You will be living in %unit_name%, and your check-in date is %check_in_date%. &nbsp;Please see below for your check-in details. </span></p>
<p><strong>The address of the apartment is: </strong><strong><br /></strong>%property_address%</p>
<p><strong>Check-In time: </strong><span>After 2pm noon</span></p>
<p><strong>Door Codes: </strong></p>
<p>%door_code%<br /><br /></p>
<p><span>The WiFi Details for your unit are: </span><span><br /></span><span>%wifi%</span></p>
<p><span>For a detailed video on how to use our electronic doors to gain entry into your unit, please refer to this video to learn: </span><a href="https://www.youtube.com/watch?v=t3QKlF7M7c0"><span>https://www.youtube.com/watch?v=t3QKlF7M7c0</span></a><span> &nbsp;</span></p>
<p><span>For hot water please note that you need to turn on the hot water heater in the bathroom. To turn it on make sure the switch with the red light is on (generally near the bathroom lights).</span></p>
<p><span>For &nbsp;your rent payment, cash deposit is the easiest option. Please refer to &nbsp;this video tutorial on how to use the Standard Chartered Bank cash deposit machine:</span></p>
<p><a href="https://www.youtube.com/watch?v=U8Xi6Jms_88"><span>https://www.youtube.com/watch?v=U8Xi6Jms_88</span></a></p>
<p><span>Please note that after making the deposit, you need to send a copy of your deposit slip to </span><span>payments@taneresidence.com</span><span> so that we can verify the payment and trace it back to you.</span></p>
<p><span>We hope you enjoy your stay with us, and if you have any questions please reach out to us at &nbsp;</span><a href="mailto:support@taneresidence.com"><span>support@taneresidence.com</span></a></p>
<p><span>(Please also see the attached photo of the entrance to your building.)</span></p>
<p>&nbsp;</p>
<p><span>Best regards,</span></p>
<p><span>Tane Residence Management </span></p>
<p><span>21/F, 12 Jubilee Street</span></p>
<p><span>Central, Hong Kong</span></p>
<p><span>E: </span><span>mgmt@taneresidence.com</span></p>
<p><a href="http://www.taneresidence.com/"><span>www.TaneResidence.com</span></a></p>'
