<p><span>Hi, %contact_full_name%!</span></p>
<p><span>We hope this email finds you well. Just a kind reminder that your %month% rent is currently past due and we would really appreciate if you could arrange payment immediately.</span></p>
<p>&nbsp;</p>
<p><span>Please settle the payment by depositing either cash or check or making a transfer via ATM card to our %bank_name% account:</span></p>
<p>&nbsp;</p>
<p><span>Account Name: %bank_account_name% </span></p>
<p><span>Account Number: %bank_account_number%</span></p>
<p><span>Branch code: %bank_branch_code%</span></p>
<p><span>Bank code: %bank_code%</span></p>
<p><span>SWIFT: %swift%</span></p>
<p>&nbsp;</p>
<p><span>Separately, please send a copy of your deposit slip to payments@taneresidence.com so that we can verify the payment and trace it back to you. Please note that as per your contract, late rent is subject to a late fee. Rent over 7 days late will result in a penalty fee of 5% of the monthly rent, and each subsequent week thereafter will be an additional 5% per week.</span></p>
<p><br /><br /></p>
<p><span>Please find an invoice attached detailing the outstanding payment amount.</span></p>
<p>&nbsp;</p>
<p><span>Thank you!</span></p>
<p><span>Regards,</span></p>
<p><span>Tane Residence Management</span></p>
