<p><span>Hi, %contact_full_name%!</span></p>
<p><span>We would like to inform you that we have already received your %month% rent payment. Thank you for sending us the deposit receipt / proof of payment.</span></p>
<p><span>Please find the attached file as your receipt.</span></p>
<p><span>Thank you!</span></p>
<p><span>Regards,</span></p>
<p><span>Tane Residence Management</span></p>
<p><br/><br/></p>