<h1 style="color: #5e9ca0;">Hello, %full_name%!</h1>
<h2 style="color: #2e6c80;">Your TaneResidence account was successfully created:</h2>
<p><strong>Login: </strong>%email%</p>
<p><strong>Password: </strong>%password%</p>
<p><strong>Enter this credentials on the <a href="%login_page%">login page</a>.</strong></p>
<p><strong>&nbsp;</strong></p>